@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  min-height: 100vh;
  height: 100%;
  background-image: linear-gradient(to bottom right, rgba(255,0,0,0), rgb(255, 88, 88));
  font-family: 'Poppins', sans-serif;
}

